.dark {
  color-scheme: dark;
}

html {
  --at-apply:  font-sans;
}

/* For Scrollbar */
::-webkit-scrollbar {
  width: 13px;
} 

::-webkit-scrollbar:horizontal {
  height: 13px;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #8884;
  border-radius: 100px; 
  border: 3px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #8885;
}

::-webkit-scrollbar-track {
  border-radius: 1px;
  background: transparent;
}